body { font-family:'verdana'; }

h1 {
	font-size:16px;
	color:#333;
}

#media-player {
	float:left;
	padding:1em 1em .5em;
	background-color:#333;
}

#progress-bar {
  width: 100%; 
}

video {
	border:1px solid #2e52a4;
	width:305px;
	height:160px;
	background:#000;
}

button {
	text-indent:-9999px;
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	background:transparent url('buttons.png') no-repeat 0 0;
}

.pause { background-position: 0; }
.stop { background-position: 0; }
.volume-plus { background-position: 0; }
.volume-minus { background-position: 0; }
.mute { background-position: 0; }
.unmute { background-position: 0; }
.replay { background-position: 0; }

progress {
	color:#fff;
	font-size:12px;
	width:172px;
	height:16px;
	border:none;
	margin-right:5px;
	background:#434343;
}
progress::-moz-progress-bar { background:#2e52a4; }
