*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
body {
	color:white;
	background-color:gray;
	font-family:"Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;
}
h1 {
	color:#666;
	font-size:20px;
	font-size:1.25rem;
	text-align:center;
	margin:0;
	padding:0.5rem 0;
}
a {
	color:#0095dd;
	text-decoration:none;
}
a:hover, a:focus {
	color:#2255aa;
	text-decoration:underline;
}
figure {
	max-width:42.5rem;
	width:90%;
	height:90%;
	max-height:494px;
	max-height:30.875rem;
	margin:20px auto;
	margin:1.25rem auto;
	padding:20px;
	padding:1.051%;
	color: white;
	background-color:black;
}
figcaption {
	display:block;
	font-size:12px;
	font-size:0.75rem;
	color:#fff;
}
video {
	max-width: 42.5rem;
	width:100%;
  height: 90%
}

ol {
	list-style: none;
	display: block;
}
/* controls */
.controls, .controls > * {
	padding:0;
	margin:0;
}
.controls {
	overflow:hidden;
	background:transparent;
	width:100%;
	height:8.0971659919028340080971659919028%; /* of figure's height */
	position:relative;
}
.controls[data-state=hidden] {
	display:none;
}
.controls[data-state=visible] {
	display:block;
}
.controls > * {
	float:left;
	width:3.90625%;
	height:100%;
	margin-left:0.1953125%;
	display:block;
}
.controls > *:first-child {
	margin-left:0;
}
.controls .progress {
	cursor:pointer;
	width:75.390625%;
}
.controls button {
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
  	text-overflow:ellipsis;
  	border:none;
  	cursor:pointer;
  	background:transparent;
  	background-size:contain;
  	background-repeat:no-repeat;
		width: 35px;
		margin-right: 20px;
}
.controls button:hover, .controls button:focus {
	opacity:0.5;
}

#progress {
	width: 100%;
}
.progress {
	display:block;
	width:100%;
	height:81%;
	margin-top:2px;
	margin-top:0.125rem;
	border:none;
	overflow:hidden;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#0095dd; /* Internet Explorer uses this value as the progress bar's value colour */
}
.progress[data-state="fake"] {
	background:#e6e6e6;
	height:65%;
}
.progress span {
	width:0%;
	height:100%;
	display:inline-block;
	background-color:#2a84cd;
}

.progress::-moz-progress-bar {
	background-color:#0095dd;
}
/* Chrome requires its own rule for this, otherwise it ignores it */
.progress::-webkit-progress-value {
	background-color:#0095dd;
}

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}

video:-webkit-full-screen + .controls {
	background:#ccc; /* required for Chrome which doesn't heed the transparent value set above */
}
video:-webkit-full-screen + .controls progress {
	margin-top:0.5rem;
}

/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
	max-height:100%;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	bottom:2%;
	width:100%;
	z-index:2147483647;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}

#wrapper:-webkit-full-screen video{
	background-color:transparent;
	width: 100%;
	height: 100%;
}

video::-webkit-full-screen{ 
  max-width: 100%; 
}
	.controls {
		height:auto;
	}
	.controls > * {
		display:block;
		width:95px;
		margin-left:0;
		height:40px;
		height:2.5rem;
		margin-top:2.5rem;
	}

	.controls .time {
		width: 110px;
	}
	.controls .progress {
		/*display:table-caption;*/ /* this trick doesn't work as elements are floated and the layout doesn't work */
		position:absolute;
		top:0;
		width:100%;
		float:none;
		margin-top:0;
	}
	.controls .progress progress {
		width:100%;
		margin:0 auto;
	}

	#progress value {
		display: block;
	}
	.controls button {
		background-position:center center;
	}

	.bar {
		margin: 0 auto;
		padding: 0;
	}

	#playpause {
		background: url('../icons/play-icon.png');
		height: 26px;
		background-repeat: no-repeat;
	}
video:fullscreen {
	height: 100%;
	width: 100%;
}
